/* **********************************************************************************************************************
 _______  _______  _______        _______ _________          _______ _________ ______
(  ____ \(  ___  )(  ____ )      (  ____ \\__   __/|\     /|(  ____ )\__   __/(  __  \
| (    \/| (   ) || (    )|      | (    \/   ) (   | )   ( || (    )|   ) (   | (  \  )
| (__    | |   | || (____)|      | (_____    | |   | |   | || (____)|   | |   | |   ) |
|  __)   | |   | ||     __)      (_____  )   | |   | |   | ||  _____)   | |   | |   | |
| (      | |   | || (\ (               ) |   | |   | |   | || (         | |   | |   ) |
| )      | (___) || ) \ \__      /\____) |   | |   | (___) || )      ___) (___| (__/  )
|/       (_______)|/   \__/      \_______)   )_(   (_______)|/       \_______/(______/

 _______  _        ______         ______   _______  _______ _________ _               ______   _______  _______  ______
(  ___  )( (    /|(  __  \       (  ___ \ (  ____ )(  ___  )\__   __/( (    /|       (  __  \ (  ____ \(  ___  )(  __  \
| (   ) ||  \  ( || (  \  )      | (   ) )| (    )|| (   ) |   ) (   |  \  ( |       | (  \  )| (    \/| (   ) || (  \  )
| (___) ||   \ | || |   ) |      | (__/ / | (____)|| (___) |   | |   |   \ | | _____ | |   ) || (__    | (___) || |   ) |
|  ___  || (\ \) || |   | |      |  __ (  |     __)|  ___  |   | |   | (\ \) |(_____)| |   | ||  __)   |  ___  || |   | |
| (   ) || | \   || |   ) |      | (  \ \ | (\ (   | (   ) |   | |   | | \   |       | |   ) || (      | (   ) || |   ) |
| )   ( || )  \  || (__/  )      | )___) )| ) \ \__| )   ( |___) (___| )  \  |       | (__/  )| (____/\| )   ( || (__/  )
|/     \||/    )_)(______/       |/ \___/ |/   \__/|/     \|\_______/|/    )_)       (______/ (_______/|/     \|(______/

 _       _________ _       _________ _______  _______  _______                            _
( \      \__   __/( (    /|\__   __/(  ____ \(  ____ )(  ____ \                          / )
| (         ) (   |  \  ( |   ) (   | (    \/| (    )|| (    \/                _        / /
| |         | |   |   \ | |   | |   | (__    | (____)|| (_____                (_)_____ ( (
| |         | |   | (\ \) |   | |   |  __)   |     __)(_____  )                 (_____)| |
| |         | |   | | \   |   | |   | (      | (\ (         ) |                _       ( (
| (____/\___) (___| )  \  |   | |   | (____/\| ) \ \__/\____) | _  _  _       (_)       \ \
(_______/\_______/|/    )_)   )_(   (_______/|/   \__/\_______)(_)(_)(_)                 \_)

************************************************************************************************************************/

/* ******************************* *
 * CSS Classes for Standard Colors *
 * ******************************* */

/* Transparent backgroound color */
.transparent-bg {
  background-color: transparent;
}

/* *********************** *
 * Black -- standard color *
 * *********************** */

/* Foreground color */
.black-fg {
  color: #000;			/* #000000 -- Black */
}

/* Background color */
.black-bg {
  background-color: #000;	/* #000000 -- Black */
}

/* ********************** *
 * Navy -- standard color *
 * ********************** */

/* Foreground color */
.navy-fg {
  color: #000080;               /* #000080 -- Navy */
}

/* Background color */
.navy-bg {
  background-color: #000080;    /* #000080 -- Navy */
}

/* ************************** *
 * DarkBlue -- standard color *
 * ************************** */

/* Foreground color */
.dark-blue-fg {
  color: #00008b;               /* #00008B -- DarkBlue */
}

/* Background color */
.dark-blue-bg {
  background-color: #00008b;    /* #00008B -- DarkBlue */
}

/* **************************** *
 * MediumBlue -- standard color *
 * **************************** */

/* Foreground color */
.medium-blue-fg {
  color: #0000cd;               /* #0000CD -- MediumBlue */
}

/* Background color */
.medium-blue-bg {
  background-color: #0000cd;    /* #0000CD -- MediumBlue */
}

/* ********************** *
 * Blue -- standard color *
 * ********************** */

/* Foreground color */
.blue-fg {
  color: #00f;                  /* #0000FF -- Blue */
}

/* Background color */
.blue-bg {
  background-color: #00f;       /* #0000FF -- Blue */
}

/* *************************** *
 * DarkGreen -- standard color *
 * *************************** */

/* Foreground color */
.dark-green-fg {
  color: #006400;               /* #006400 -- DarkGreen */
}

/* Background color */
.dark-green-bg {
  background-color: #006400;    /* #006400 -- DarkGreen */
}

/* *********************** *
 * Green -- standard color *
 * *********************** */

/* Foreground color */
.green-fg {
  color: #0f0;                  /* #00FF00 -- Green */
}

/* Background color */
.green-bg {
  background-color: #0f0;       /* #00FF00 -- Green */
}

/* ********************** *
 * Cyan -- standard color *
 * ********************** */

/* Foreground color */
.cyan-fg {
  color: #0ff;                  /* #00FFFF -- Cyan */
}

/* Background color */
.cyan-bg {
  background-color: #0ff;       /* #00FFFF -- Cyan */
}

/* ********************** *
 * Aqua -- standard color *
 * ********************** */

/* Foreground color */
.aqua-fg {
  color: #0ff;                  /* #00FFFF -- Aqua */
}

/* Background color */
.aqua-bg {
  background-color: #0ff;       /* #00FFFF -- Aqua */
}

/* ********************* *
 * Red -- standard color *
 * ********************* */

/* Foreground color */
.red-fg {
  color: #f00;                  /* #FF0000 -- Red */
}

/* Background color */
.red-bg {
  background-color: #f00;       /* #FF0000 -- Red */
}

/* ************************* *
 * Magenta -- standard color *
 * ************************* */

/* Foreground color */
.magenta-fg {
  color: #f0f;                  /* #FF00FF -- Magenta */
}

/* Background color */
.magenta-bg {
  background-color: #f0f;       /* #FF00FF -- Magenta */
}

/* ************************* *
 * Fuchsia -- standard color *
 * ************************* */

/* Foreground color */
.fuchsia-fg {
  color: #f0f;                  /* #FF00FF -- Fuchsia */
}

/* Background color */
.fuchsia-bg {
  background-color: #f0f;       /* #FF00FF -- Fuchsia */
}

/* ************************ *
 * Yellow -- standard color *
 * ************************ */

/* Foreground color */
.yellow-fg {
  color: #ff0;                  /* #FFFF00 -- Yellow */
}

/* Background color */
.yellow-bg {
  background-color: #ff0;       /* #FFFF00 -- Yellow */
}

/* *********************** *
 * White -- standard color *
 * *********************** */

/* Foreground color */
.white-fg {
  color: #fff;                  /* #FFFFFF -- White */
}

/* Background color */
.white-bg {
  background-color: #fff;       /* #FFFFFF -- White */
}
